In [2]:
# import pandas for data cleaning

import pandas as pd
import numpy as np
# load the datasets in the pandas dataframe

df=pd.read_csv("weather_data 2.csv")

In [3]:
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location          1000000 non-null  object
 1   Date_Time         1000000 non-null  object
 2   Temperature_C     1000000 non-null  float64
 3   Humidity_pct      1000000 non-null  float64
 4   Precipitation_mm  1000000 non-null  float64
 5   Wind_Speed_kmh    1000000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 45.8+ MB
None

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Location          1000000 non-null  object
 1   Date_Time         1000000 non-null  object
 2   Temperature_C     1000000 non-null  float64
 3   Humidity_pct      1000000 non-null  float64
 4   Precipitation_mm  1000000 non-null  float64
 5   Wind_Speed_kmh    1000000 non-null  float64
dtypes: float64(4), object(2)
memory usage: 45.8+ MB

In [6]:
 # Shows the count of missing values in each column

print(df.isnull().sum())

Location            0
Date_Time           0
Temperature_C       0
Humidity_pct        0
Precipitation_mm    0
Wind_Speed_kmh      0
dtype: int64

In [7]:

# Drops all rows with any missing values
df.dropna(inplace=True)

In [8]:
 # Counts the number of duplicate rows
print(df.duplicated().sum())

0

In [9]:
df.drop_duplicates(inplace=True)  # Removes duplicate rows

In [10]:
# TO check the columns name

print(df.columns)

Index(['Location', 'Date_Time', 'Temperature_C', 'Humidity_pct',
       'Precipitation_mm', 'Wind_Speed_kmh'],
      dtype='object')

In [11]:
from scipy import stats
 # Removes outliers based on Z-score
df = df[(np.abs(stats.zscore(df['Temperature_C'])) < 3)] 
df = df[(np.abs(stats.zscore(df['Precipitation_mm'])) < 3)]
df = df[(np.abs(stats.zscore(df['Wind_Speed_kmh'])) < 3)]

In [12]:
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [13]:
df.tail()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
999995,Dallas,2024-01-01 20:29:48,23.416877,37.705024,3.819833,16.538119
999996,San Antonio,2024-01-20 15:59:48,6.759080,40.731036,8.182785,29.005558
999997,New York,2024-04-14 08:30:09,15.664465,62.201884,3.987558,0.403909
999998,Chicago,2024-05-12 20:10:43,18.999994,63.703245,4.294325,6.326036
999999,New York,2024-04-16 16:11:52,10.725351,43.804584,1.883292,15.363828

In [14]:
# Convert data types
df['Date_Time'] = pd.to_datetime(df['Date_Time'])
df['Temperature_C'] = df['Temperature_C'].astype(float)

In [15]:
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [16]:
# Save cleaned data
df.to_csv('cleaned_dataset.csv', index=False)

In [17]:
df.describe()

,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
count,999529,999529.000000,999529.000000,999529.000000,999529.000000
mean,2024-03-10 11:07:41.665202432,14.782048,60.021447,5.105311,14.997481
min,2024-01-01 00:00:06,-19.969311,30.000009,0.000009,0.000051
25%,2024-02-04 17:00:16,2.272007,45.008484,2.579683,7.489884
50%,2024-03-10 12:27:06,14.780838,60.018036,5.107270,14.993192
75%,2024-04-14 04:14:31,27.272987,75.043443,7.610271,22.514125
max,2024-05-18 19:44:10,39.999801,89.999977,13.951485,29.999973
std,NaN,14.481922,17.323915,2.941936,8.663602

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [19]:
import pandas as pd
df = pd.read_csv('cleaned_dataset.csv')

In [20]:
# Features (Independent variables)
X = df[['Humidity_pct', 'Wind_Speed_kmh', 'Precipitation_mm']]  # Update based on your dataset

# Target (Dependent variable)
y = df['Temperature_C']  # Update based on your dataset

In [21]:
# Split the data: 80% for training, 20% for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler


# Initialize the Random Forest Regressor
rf_model = RandomForestRegressor(n_estimators=10, random_state=42)

# Train the model
rf_model.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R² Score: {r2}')

Mean Squared Error: 242.25984209162635
R² Score: -0.15531587140396486

In [25]:
# Save the trained Random Forest model using pickle
import pickle
with open('random_forest_model.pkl', 'wb') as rf_file:
    pickle.dump(rf_model, rf_file)